.ivu-layout-content {
  min-width: 220px;
  overflow: hidden;
  word-wrap:break-word
}

.ivu-menu-item {
  font-size: .2rem!important;
}

.ivu-layout-sider {

}

.ivu-layout-header {
  background: #fff;
}
